@use "../variables";
@use "../mixins";

.btn-primary {
  color: variables.$light;
  background: variables.$black;
  @include mixins.desktop-btn-default();
  border-radius: 30px;
  transition: all .3s ease-in-out;
  &:hover {
    background: variables.$light;
    color: variables.$black;
    border: 1px solid variables.$black;
  }
}

.btn-secondary {
  color: variables.$black;
  background: variables.$light;
  @include mixins.desktop-btn-default();
  border-color: variables.$light;
  transition: all .3s ease-in-out;
  &:hover {
    border-color: variables.$black;
  }
}

.btn-plus {
  color: variables.$black;
  background: variables.$light;
  @include mixins.desktop-btn-default();
  border: unset;
  justify-content: flex-end;
  text-decoration: underline;
  @media (max-width: 1024px) {
    font-size: 14px;
  }
}

.download-btn {
  width: 24px;
  height: 24px;
}
