@use "../variables";
@use "../mixins";

.header {
  @include mixins.desktop-max-width();
  display: flex;
  flex-direction: column;
  @media (max-width: 1024px) {
    align-self: flex-start;
    gap: 18px;
    width: auto;
  }
  .header-title {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    gap: 6px;
  }
  .header-copy {
    color: variables.$gray;
    display: flex;
    justify-content: end;
    @media (max-width: 1024px) {
      justify-content: start;
      align-self: flex-start;
    }
    p {
      width: 416px;
      @media (max-width: 1024px) {
        width: 80%;
      }
    }
  }
  .button-header {
    display: flex;
    justify-content: center;
    margin: 68px 0;
    gap: 52px;
    @media (max-width: 1024px) {
      flex-direction: column;
      max-width: 100%;
      gap: 10px;
      margin: 18px 0;
    }
  a{ 
    text-decoration: none;
  }
  }
}
