@use "../variables";

.header {
    display: flex;
    flex-direction: column;
    .header-title {
      display: flex;
      flex-direction: column;
      margin-top: 100px;
      gap: 6px;
    }
    .header-copy {
      color: variables.$gray;
      display: flex;
      justify-content: end;
      p {
        width: 416px;
      }
    }
    .button-header {
      display: flex;
      justify-content: center;
      margin: 68px 0;
      gap: 52px;
    }
}
