@use "../variables";
@use "../mixins";

.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 30px;
  background-color: variables.$black;
  z-index: 1;
  &.hamburger-is-open {
    position: absolute;
    padding: 0;
    .burger {
      background-color: variables.$black;
    }
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    @include mixins.desktop-max-width();
    &.column-layout {
      flex-direction: column;
      align-items: center;
      margin: 0;
      padding: 15px 30px;
      background: variables.$white;
      height: 100vh;
      gap: 50px;
      justify-content: flex-start;
    }
    .mail-navbar {
      @include mixins.desktop-flex-aligned-center();
      gap: 17px;
      @media (max-width: 1024px) {
        display: none;
      }
      .email-icon {
        height: 20px;
        filter: invert(100%);
      }
    }
    .navbar-links {
      @include mixins.desktop-flex-aligned-center();
      gap: 30px;
      @media (max-width: 1024px) {
        display: none;
        &.column-layout {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 75px;
        }
      }
      button,
      a {
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        @media (max-width: 1024px) {
          color: variables.$black;
          font-size: 22px;
        }
        &.active {
          font-weight: 500;
          color: #fdb833;
        }
      }
      .translation-icon {
        height: 30px;
        filter: invert(100%);
        @media (max-width: 1024px) {
          height: 45px;
          filter: unset;
        }
      }
    }
    a {
      text-decoration: none;
      color: variables.$white;
    }
    button {
      border: none;
      background-color: unset;
      cursor: pointer;
    }
  }
}
