@use "../mixins";

#portfolio {
  @include mixins.desktop-max-width();
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  width: 100%;
  gap: 15px;
  @media (max-width: 1024px) {
    @include mixins.mobile-margin-right-padding-right-30();
    margin-left: 30px;
    padding-left: 30px;
  }
  h3,
  h4 {
    @media (max-width: 1024px) {
      margin: 0 42px;
    }
  }
}
