@use "../mixins";
@use "../variables";

.project-card {
  display: flex;
  flex-direction: column;
  padding: 0 0 20px 0;
  width: 100%;
  height: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  @include mixins.border-box-shadow();
  @media (max-width: 1224px) {
    height: 430px;
  }
  a {
    display: flex;
    color: variables.$black;
    flex-direction: column;
    gap: 15px;
    text-decoration: none;
    hr {
      width: 100%;
    margin: 0;
    border: 1px solid variables.$white;
    }
    h5, p {
      padding: 0 20px;
    }
    p {
      color: variables.$gray;
    }
  }
  .project-cover {
    display: flex;
    object-fit: contain;
    width: 100%;
  }
}

.gallery .project-card {
  width: unset;
}
