@use "../mixins";
@use "../variables";

.project-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  height: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
  @include mixins.border-box-shadow();
  @media (max-width: 1224px) {
    height: unset;
  }
  a {
    display: flex;
    color: variables.$black;
    flex-direction: column;
    gap: 15px;
    text-decoration: none;
    p {
      color: variables.$gray;
    }
  }
  .project-cover {
    display: flex;
    object-fit: contain;
    width: 100%;
    @include mixins.border-box-shadow();
  }
}

.gallery .project-card {
  width: unset;
}
