.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  padding: 30px 90px 0 90px;
  @media (max-width: 1224px) {
    padding: 0 30px;
  }
  @media (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px 42px 0 42px;
  }
}
