@use "../variables";
@use "../mixins";

.slider-container {
  display: flex;
  @include mixins.desktop-max-width();
  padding-top: 30px;
  @media (max-width: 768px) {
    padding: 0;
  }
  button {
    background-color: unset;
    border: unset;
    @media (max-width: 768px) {
      display: none;
    }
  }
  .slider {
    display: flex;
    gap: 15px;
    max-width: 940px;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 50px;
    cursor: all-scroll;
    scroll-behavior: smooth;
    @media (min-width: 1024px) {
      overflow: hidden;
    }
    @media (max-width: 768px) {
      max-width: 768px;
      margin: 0 10px 0 10px;
      gap: 10px;
      padding-bottom: 0;
    }
    cursor: all-scroll;
  }
}
