@mixin desktop-flex-aligned-center {
    display: flex;
    align-items: center;
}

@mixin desktop-flex-column-aligned-center {
    display: flex;
    align-items: center;
    flex-direction: column;
}