@use "./variables";
@use "./mixins";

@use "./pages/error503";
@use "./pages/error404";
@use "./pages/projectPage";

@use "./components/navbar";
@use "./components/hero";
@use "./components/buttons";
@use "./components/about";
@use "./components/competences";
@use "./components/footer";
@use "./components/langSelectorModal";
@use "./components/navbarHamburger";
@use "./components/portfolio";
@use "./components/projectsList";
@use "./components/projectTags";
@use "./components/slider";
@use "./components/card";
@use "./components/loader";

body {
  @include mixins.desktop-flex-column-aligned-center();
  font-family: "Montserrat";
  margin: 0;
  color: variables.$black;
}

#root {
  @include mixins.desktop-flex-column-aligned-center();
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;  
  width: 100%;
}

.d-none {
  display: none;
}
