@use "./variables";
@use "./mixins";

@use "./pages/error503";

@use "./components/navbar";
@use "./components/header";
@use "./components/buttons";
@use "./components/about";

body {
  @include mixins.desktop-flex-column-aligned-center();
  flex-direction: column;
  font-family: "Montserrat";
  margin: 0;
  color: variables.$black;
}

#root {
  @include mixins.desktop-flex-column-aligned-center();
  flex-direction: column;
  height: 100vh;
  //max-width: 1140px;
  //padding: 0 30px;
  width: 100%;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;  
  width: 100%;
}
