h1 {
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}
@media (max-width: 1024px) {
  h1 {
    font-size: 36px;
  }
}

h2 {
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
@media (max-width: 1024px) {
  h2 {
    font-size: 30px;
  }
}

p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

h3 {
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

h4 {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
@media (max-width: 1024px) {
  h4 {
    font-size: 28px;
  }
}

h5 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}
@media (max-width: 1024px) {
  h5 {
    font-size: 20px;
  }
}

.error-container {
  display: flex;
  align-items: center;
  background-color: #0c0c0c;
  color: #f1f1f1;
  height: 100vh;
  width: 100%;
  justify-content: center;
  gap: 78px;
  padding: 0 100px;
}
.error-container p {
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.error-container span {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.error-container iframe {
  border-radius: 12px;
  max-width: 615px;
}

.error-container {
  display: flex;
  align-items: center;
  background-color: #0c0c0c;
  color: #f1f1f1;
  height: 100vh;
  width: 100%;
  justify-content: center;
}
@media (max-width: 1224px) {
  .error-container {
    flex-direction: column;
    overflow-y: hidden;
  }
}
.error-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #0c0c0c 50%, rgba(217, 217, 217, 0) 90.81%);
}
@media (max-width: 1224px) {
  .error-container::before {
    background: linear-gradient(180deg, #0c0c0c 50%, rgba(217, 217, 217, 0) 90.81%);
  }
}
.error-container .error-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  z-index: 1;
}
@media (max-width: 1224px) {
  .error-container .error-message {
    width: 100%;
  }
}
.error-container .error-message p {
  font-size: 200px;
  font-weight: 600;
}
@media (max-width: 1224px) {
  .error-container .error-message p {
    font-size: 110px;
  }
}
.error-container .error-message span {
  font-size: 72px;
  font-weight: 500;
}
@media (max-width: 1224px) {
  .error-container .error-message span {
    font-size: 42px;
  }
}
.error-container .error-message a {
  color: #f1f1f1;
  font-size: 40px;
  font-weight: 400;
  text-decoration: none;
  text-decoration-line: underline;
  margin-top: 96px;
}
@media (max-width: 1224px) {
  .error-container .error-message a {
    font-size: 24px;
  }
}
.error-container .error-image {
  display: flex;
  width: 55%;
}
@media (max-width: 1224px) {
  .error-container .error-image {
    width: 100%;
    height: 50vh;
  }
}
.error-container .error-image img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.project-page {
  max-width: 1140px;
  padding: 0 30px;
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 75px;
  margin: 0 0 80px 0;
}
@media (max-width: 1224px) {
  .project-page {
    max-width: 900px;
  }
}
@media (max-width: 1024px) {
  .project-page {
    align-self: flex-start;
  }
}
.project-page .project-hero {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 170px;
}
@media (max-width: 1024px) {
  .project-page .project-hero {
    margin-right: 30px;
    padding-right: 30px;
    margin-top: 130px;
    gap: 25px;
  }
}
.project-page .project-hero .project-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 1024px) {
  .project-page .project-hero .project-description {
    flex-direction: column-reverse;
  }
}
.project-page .project-hero .project-description p {
  font-size: 18px;
  line-height: 26px;
}
.project-page .project-hero .hero-img {
  width: 90%;
  align-self: center;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1024px) {
  .project-page .project-hero .hero-img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
  }
}
.project-page .project-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
}
@media (max-width: 1024px) {
  .project-page .project-links {
    margin-right: 30px;
    padding-right: 30px;
  }
}
.project-page .project-links a {
  display: flex;
  gap: 10px;
  color: #0c0c0c;
}
.project-page .project-links a img {
  width: 20px;
  height: 20px;
}
.project-page .project-links p {
  font-size: 18px;
}
.project-page .project-links p strong {
  color: #5f5f5f;
}
.project-page .project-actions {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px;
}
@media (max-width: 1224px) {
  .project-page .project-actions {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1024px) {
  .project-page .project-actions {
    margin-right: 30px;
    padding-right: 30px;
  }
}
.project-page .project-actions img {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1224px) {
  .project-page .project-actions img {
    width: 90%;
    align-self: center;
  }
}
@media (max-width: 1024px) {
  .project-page .project-actions img {
    width: 100%;
  }
}
.project-page .project-actions .actions-list {
  width: 100%;
}
.project-page .project-actions .actions-list ul {
  font-size: 18px;
  line-height: 26px;
}
.project-page hr {
  border: 0.5px solid #5f5f5f;
  border-radius: 1px;
  width: 100%;
}
@media (max-width: 1024px) {
  .project-page hr {
    display: none;
  }
}
.project-page .carousel-project-page {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media (max-width: 1024px) {
  .project-page .carousel-project-page {
    margin-right: 30px;
    padding-right: 30px;
  }
}

.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color: #ffffff;
}
.header.hamburger-is-open {
  position: absolute;
  padding: 0;
}
.header .navbar {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  max-width: 1140px;
  padding: 0 30px;
  align-self: center;
  width: 100%;
}
@media (max-width: 1224px) {
  .header .navbar {
    max-width: 900px;
  }
}
.header .navbar.column-layout {
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 30px;
  background: #f1f1f1;
}
.header .navbar .mail-navbar {
  display: flex;
  align-items: center;
  gap: 17px;
}
@media (max-width: 1024px) {
  .header .navbar .mail-navbar {
    display: none;
  }
}
.header .navbar .mail-navbar .email-icon {
  height: 20px;
}
.header .navbar .navbar-links {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1024px) {
  .header .navbar .navbar-links {
    display: none;
  }
  .header .navbar .navbar-links.column-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.header .navbar .navbar-links button, .header .navbar .navbar-links a {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
}
@media (max-width: 1024px) {
  .header .navbar .navbar-links button, .header .navbar .navbar-links a {
    font-size: 18px;
  }
}
.header .navbar .navbar-links .translation-icon {
  height: 30px;
}
.header .navbar a {
  text-decoration: none;
  color: #0c0c0c;
}
.header .navbar button {
  border: none;
  background-color: unset;
  cursor: pointer;
}

.hero {
  max-width: 1140px;
  padding: 0 30px;
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}
@media (max-width: 1224px) {
  .hero {
    max-width: 900px;
  }
}
@media (max-width: 1024px) {
  .hero {
    align-self: flex-start;
    gap: 18px;
    width: auto;
    margin-top: 50px;
  }
}
.hero .hero-title {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  gap: 6px;
}
.hero .hero-copy {
  color: #5f5f5f;
  display: flex;
  justify-content: end;
}
@media (max-width: 1024px) {
  .hero .hero-copy {
    justify-content: start;
    align-self: flex-start;
  }
}
.hero .hero-copy p {
  width: 416px;
}
@media (max-width: 1024px) {
  .hero .hero-copy p {
    width: 80%;
  }
}
.hero .button-hero {
  display: flex;
  justify-content: center;
  margin: 68px 0;
  gap: 52px;
}
@media (max-width: 1024px) {
  .hero .button-hero {
    flex-direction: column;
    max-width: 100%;
    gap: 10px;
    margin: 18px 0;
  }
}
.hero .button-hero a {
  text-decoration: none;
}

.btn-primary {
  color: #ffffff;
  background: #0c0c0c;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  padding: 15px 16px;
  border: 1px solid;
  border-radius: 30px;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}
.btn-primary:hover {
  background: #ffffff;
  color: #0c0c0c;
  border: 1px solid #0c0c0c;
}
@media (max-width: 1024px) {
  .btn-primary {
    font-size: 14px;
  }
}

.btn-secondary {
  color: #0c0c0c;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  padding: 15px 16px;
  border: 1px solid;
  border-radius: 30px;
  cursor: pointer;
  border-color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.btn-secondary:hover {
  border-color: #0c0c0c;
}
@media (max-width: 1024px) {
  .btn-secondary {
    font-size: 14px;
  }
}

.btn-plus {
  color: #0c0c0c;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  padding: 15px 16px;
  border: 1px solid;
  border-radius: 30px;
  cursor: pointer;
  border: unset;
  justify-content: flex-end;
  text-decoration: underline;
}
@media (max-width: 1024px) {
  .btn-plus {
    font-size: 14px;
  }
}

.download-btn {
  width: 24px;
  height: 24px;
}

.about-me {
  background-color: #f1f1f1;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}
@media (max-width: 1024px) {
  .about-me {
    align-self: flex-start;
    width: auto;
  }
}
.about-me h3 {
  max-width: 1140px;
  padding: 0 30px;
  align-self: center;
  width: 100%;
  align-self: center;
  width: 100%;
}
@media (max-width: 1224px) {
  .about-me h3 {
    max-width: 900px;
  }
}
@media (max-width: 1024px) {
  .about-me h3 {
    margin: 0 42px;
  }
}
.about-me p {
  max-width: 1140px;
  padding: 0 30px;
  align-self: center;
  width: 100%;
  color: #0c0c0c;
  align-self: center;
  width: 100%;
}
@media (max-width: 1224px) {
  .about-me p {
    max-width: 900px;
  }
}
@media (max-width: 1024px) {
  .about-me p {
    margin: 0 42px;
  }
}

.competences-container {
  background-color: #f1f1f1;
  width: 100%;
  display: flex;
  justify-content: center;
}
.competences-container .competences {
  max-width: 1140px;
  padding: 0 30px;
  align-self: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  padding: 40px 0;
}
@media (max-width: 1224px) {
  .competences-container .competences {
    max-width: 900px;
  }
}
@media (max-width: 1224px) {
  .competences-container .competences {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 42px;
    gap: 25px;
  }
}
.competences-container .competences .stack-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.competences-container .competences .stack-logo p {
  font-size: 14px;
}
.competences-container .competences .stack-logo img {
  height: 60px;
}
@media (max-width: 1224px) {
  .competences-container .competences .stack-logo img {
    height: 50px;
  }
}

.footer {
  background-color: #0c0c0c;
  color: #f1f1f1;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 40px 0;
}
.footer .contact-footer {
  max-width: 1140px;
  padding: 0 30px;
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media (max-width: 1224px) {
  .footer .contact-footer {
    max-width: 900px;
  }
}
@media (max-width: 1024px) {
  .footer .contact-footer {
    align-items: center;
  }
}
.footer .contact-footer .email-footer,
.footer .contact-footer .phone-footer,
.footer .contact-footer .linkedin-footer {
  display: flex;
  gap: 18px;
}
.footer .contact-footer .linkedin-footer {
  text-decoration-line: underline;
}
.footer .contact-footer img {
  height: 20px;
}
.footer .contact-footer a {
  text-decoration: none;
  color: #f1f1f1;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer hr {
  max-width: 1140px;
  width: 100%;
  margin: 18px 0;
}
.footer .info-footer {
  max-width: 1140px;
  padding: 0 30px;
  align-self: center;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 6px;
}
@media (max-width: 1224px) {
  .footer .info-footer {
    max-width: 900px;
  }
}
@media (max-width: 1024px) {
  .footer .info-footer p,
  .footer .info-footer a {
    font-size: 12px;
  }
}
.footer .info-footer .github-footer {
  display: flex;
  gap: 18px;
}
.footer .info-footer img {
  height: 20px;
}
.footer .info-footer a {
  text-decoration: none;
  color: #f1f1f1;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration-line: underline;
}

#lang-modal {
  background-color: #0c0c0c;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  height: 85vh;
  width: 100%;
}
@media (max-width: 1024px) {
  #lang-modal {
    height: 100vh;
  }
}
#lang-modal .modal-content {
  max-width: 1140px;
  padding: 0 30px;
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 104px;
  gap: 54px;
}
@media (max-width: 1224px) {
  #lang-modal .modal-content {
    max-width: 900px;
  }
}
#lang-modal .modal-content h2 {
  color: #f1f1f1;
}
@media (max-width: 1024px) {
  #lang-modal .modal-content h2 {
    padding-left: 42px;
  }
}
#lang-modal .modal-content .options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 31px;
}
@media (max-width: 1024px) {
  #lang-modal .modal-content .options {
    padding-left: 42px;
  }
}
#lang-modal .modal-content .options button {
  color: #f1f1f1;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: unset;
  border: none;
  padding: 0;
  cursor: pointer;
}
#lang-modal .modal-content .options button.selected {
  color: #5f5f5f;
  cursor: unset;
}
#lang-modal .close-btn {
  background-color: unset;
  border: none;
  position: relative;
  top: 5%;
  left: 35%;
  width: 40px;
  cursor: pointer;
}

.hamburger {
  display: none;
}
@media (max-width: 1024px) {
  .hamburger {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-flow: column nowrap;
    width: 100%;
    height: 2rem;
  }
}
.hamburger .burger {
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  margin: 0 30px;
  background-color: #0c0c0c;
  transition: all 0.3s linear;
}

#portfolio {
  max-width: 1140px;
  padding: 0 30px;
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  width: 100%;
  gap: 15px;
}
@media (max-width: 1224px) {
  #portfolio {
    max-width: 900px;
  }
}
@media (max-width: 1024px) {
  #portfolio {
    margin-right: 30px;
    padding-right: 30px;
    margin-left: 30px;
    padding-left: 30px;
  }
}
@media (max-width: 1024px) {
  #portfolio h3,
  #portfolio h4 {
    margin: 0 42px;
  }
}

.project-card {
  display: flex;
  flex-direction: column;
  padding: 0 0 20px 0;
  width: 100%;
  height: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 10px;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1224px) {
  .project-card {
    height: 430px;
  }
}
.project-card a {
  display: flex;
  color: #0c0c0c;
  flex-direction: column;
  gap: 15px;
  text-decoration: none;
}
.project-card a hr {
  width: 100%;
  margin: 0;
  border: 1px solid #f1f1f1;
}
.project-card a h5, .project-card a p {
  padding: 0 20px;
}
.project-card a p {
  color: #5f5f5f;
}
.project-card .project-cover {
  display: flex;
  object-fit: contain;
  width: 100%;
}

.gallery .project-card {
  width: unset;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  padding: 30px 90px 0 90px;
}
@media (max-width: 1224px) {
  .gallery {
    padding: 0 30px;
  }
}
@media (max-width: 1024px) {
  .gallery {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px 42px 0 42px;
  }
}

.carousel {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  max-width: 1140px;
  padding: 0 30px;
  align-self: center;
  width: 100%;
}
@media (max-width: 1224px) {
  .carousel {
    max-width: 900px;
  }
}
.carousel .carousel-container {
  display: flex;
  gap: 25px;
}
@media (max-width: 1024px) {
  .carousel .carousel-container {
    width: 72%;
  }
}
.carousel button {
  display: flex;
  align-items: center;
  border: none;
  background-color: unset;
}
.carousel button.arrow-previous-project {
  justify-content: flex-start;
  left: -5%;
}
.carousel button.arrow-next-project {
  justify-content: flex-end;
  left: 5%;
}
@media (max-width: 1024px) {
  .carousel button {
    width: 40px;
  }
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-direction: column;
  font-family: "Montserrat";
  margin: 0;
  color: #0c0c0c;
}

#root {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.d-none {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
